#batchTagPanel(hidden).panel
	h1 Batch Tag
	hr

	#innerWrapTag
		span#spinner.fa.fa-circle-o-notch.fa-spin(style="font-size: 100px;color:#5596E6")
		div#tagWrapper
			div#batchTag(style="padding: 50px;background-color: white;margin: auto;width: 300px; border-radius: 30px;")
			p(style="margin-top: 20px;color: #F1D356;font-size: 16px;font-weight: 300;") New Block created			 