extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/vehicle.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			$("#contentTable").css("height",$("#dashboardTable").height() + 125);	
		});
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/navigation.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		#blockdate(title="date of last block") loading...		
		
		// --------------- Dashboard View
		include ./panel_searchPart.jade
		
block footer
	include ./template/blockchain.jade
